<div class="mt-4">
    <h3>Udpdate course</h3>
    <form method="post" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Add name</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Add description</label>
            <textarea type="text" class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Add videoId</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
       
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>